<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% include "components/navbar.html.jinja"%}

    <div class="text-black text-2xl text-center">Browse my page</div>
    <br>
    <br>

    <main class= "grid grid-cols-3 gap-20 max-w-4xl mx-auto p-6 mb-5">
    {% for x in products %}
      <a href="/product/{{x['ID']}}" class="grid"> 
        <img class="w-64 rounded-lg flex justify-evenly" src="{{x['Image']}}">
      {{x["Name"]}}<br>
      ${{x ["Price"]}}
      </a>
    {% endfor %}
  </main>
  </body>
</html>