<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  {% include "components/navbar.html.jinja"%}
  <h1 class="text-3xl font-bold underline">
    Homepage
  </h1>
   


<div class="bg-gray-200 py-8 px-8 text-center rounded-xl w-24 mx-h-48 mx-auto flex justify-center w-96 text-6xl mt-8">50% OFF FIRST TIME BUYERS</div>


</body>

</html>