<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-teal-50">
  {% include "components/navbar.html.jinja"%}

<div class="bg-gray-200 py-8 px-8 text-center rounded-xl w-24 mx-h-48 mx-auto flex justify-center w-96 text-6xl mt-8">50% OFF FIRST TIME BUYERS</div>
<br>
<br>
<div class="text-center font-bold text-xl">TOP 8 PLAYS RIGHT NOW</div>
<br>
<br>
 <main class= "grid grid-cols-8 gap-5 max-w-6xl mx-auto p-6 mb-5 text-lg">
 <img class="rounded-lg border-2 " src="/static/products/LMRB.jpeg" width="500"> Watch out Vegas; I'm a showstopper
 <img class="rounded-lg border-2 " src="/static/products/SIGNOFF (2).jpeg"> Sign Off
 <img class="rounded-lg border-2 " src="/static/products/IDCIYC.jpeg">I Don't Care If You're Contagious
 <img class= "border-2 rounded-lg" src="/static/products/SerpentSkirt.jpeg">Serpent Skirt
 
  <img class="rounded-lg border-2 " src="/static/products/Tragicgirl.jpeg">Tragic Girl

  <img class="rounded-lg border-2 " src="/static/products/wonderfulwoman.jpeg">Wonderful Woman
   <img class="rounded-lg border-2 " src="/static/products/Fazers.jpeg">Fazers
    <img class="rounded-lg border-2 " src="/static/products/forgether.jpeg">Forget Her
 
 </main>
</body>

</html>