<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-teal-50">
 {% include "components/navbar.html.jinja"%}
{%for message in get_flashed_messages()%}
    <li>{{message}}</li>
 {%endfor%}
 <form class="flex flex-col gap-2 border"method="post">

    
    <label>Password</label>
    <input name="password" required type="Password">

    <label>Email</label>
    <input name="email" required type="email">

    <button type="submit">Sign in</button>
<div>
</form>
  </body>
</html>