<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-teal-50">
  {% include "components/navbar.html.jinja"%}
  <p class="text-center font-bold text-2xl pt-8">Track your order</p>
  <main class="flex flex-col-reverse justify-center pt-10">

    {%for x in orders%}
    <div class="flex justify-center gap-7 border-2 ">

      <div class="">{{x['ID']}}</div>

      <div class="mr-9">{{x['Quantity']}}</div>
      <div class="font-bold">${{x["Total"]}}</div>
      <br>
      <br>
      <div class="">{{x['Timestamp'].strftime('%m/%d/%Y %I:%M %p')}}</div>
      <div class="mr-9">{{x['Quantity']}}</div>



    </div>



    {%endfor%}


  </main>


</body>

</html>