<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% include "components/navbar.html.jinja" %}

  <h1>{{product['Name']}}</h1>
<br>
<br>
    <img class="flex justify-around rounded-lg w-80" src="{{product['Image']}}">
<br>
<br>
<div class="font-bold text-2xl ">ABOUT THIS ALBUM</div>

   

 

  
  </body>
</html>