<nav class="bg-sky-100 p-4 flex items-center justify-between">
   <h1 class="text-sky-700 font-bold text-2xl flex flex row">Digital Disc</h1>
   <div class="flex flex-row md:flex-row items-start">
      <li><a href="/homepage" class="text-black hover:bg-neutral-200">Home</a></li>
   </div>
   <li><a href="/Cart" class="text-white hover:bg-neutral-200"></a>Cart</li>
   <div class="text-red-500 font-bold">
      <li><a href="/checkout" class="text-red hover:bg-neutral-300">checkout</a></li>
   </div>
   </div>



</nav>